In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df=pd.read_csv("Social_Network_Ads.csv")

In [40]:
df=df.iloc[:,2:]

In [41]:
df.sample(5)

     Age  EstimatedSalary  Purchased
286   37            62000          0
112   38            61000          0
84    30            62000          0
37    30            49000          0
66    24            19000          0

# Train test Split

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('Purchased',axis=1),
                                               df["Purchased"],
                                               test_size=0.3,
                                               random_state=0)

In [43]:
x_train.shape,x_test.shape

((280, 2), (120, 2))

## StandardScaler

In [44]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(x_train)

x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [45]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)
x_test_scaled=pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [46]:
# print(np.round(x_train.describe(),2))
x_train.describe()

              Age  EstimatedSalary
count  280.000000       280.000000
mean    37.864286     69807.142857
std     10.218201     34641.201654
min     18.000000     15000.000000
25%     30.000000     43000.000000
50%     37.000000     70500.000000
75%     46.000000     88000.000000
max     60.000000    150000.000000

In [48]:
np.round(x_train_scaled.describe(),2)

          Age  EstimatedSalary
count  280.00           280.00
mean     0.00             0.00
std      1.00             1.00
min     -1.95            -1.58
25%     -0.77            -0.78
50%     -0.08             0.02
75%      0.80             0.53
max      2.17             2.32